<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
            data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="/">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    {{!-- <li>
                        <a href="mailbox-folder">
                            <span class="pull-right label label-primary">182</span>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>Mailbox</span>
                        </a>
                    </li> --}}
                    {{!-- <li class="nav-parent">
                        <a>
                            <i class="fa fa-copy" aria-hidden="true"></i>
                            <span>Pages</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="pages-signup">
                                    Sign Up
                                </a>
                            </li>
                            <li>
                                <a href="pages-signin">
                                    Sign In
                                </a>
                            </li>
                            <li>
                                <a href="pages-recover-password">
                                    Recover Password
                                </a>
                            </li>
                            <li>
                                <a href="pages-lock-screen">
                                    Locked Screen
                                </a>
                            </li>
                            <li>
                                <a href="pages-user-profile">
                                    User Profile
                                </a>
                            </li>
                            <li>
                                <a href="pages-session-timeout">
                                    Session Timeout
                                </a>
                            </li>
                            <li>
                                <a href="pages-calendar">
                                    Calendar
                                </a>
                            </li>
                            <li>
                                <a href="pages-timeline">
                                    Timeline
                                </a>
                            </li>
                            <li>
                                <a href="pages-media-gallery">
                                    Media Gallery
                                </a>
                            </li>
                            <li>
                                <a href="pages-invoice">
                                    Invoice
                                </a>
                            </li>
                            <li>
                                <a href="pages-blank">
                                    Blank Page
                                </a>
                            </li>
                            <li>
                                <a href="pages-404">
                                    404
                                </a>
                            </li>
                            <li>
                                <a href="pages-500">
                                    500
                                </a>
                            </li>
                            <li>
                                <a href="pages-log-viewer">
                                    Log Viewer
                                </a>
                            </li>
                            <li>
                                <a href="pages-search-results">
                                    Search Results
                                </a>
                            </li>
                        </ul>
                    </li> --}}
                    {{!-- <li class="nav-parent">
                        <a>
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>UI Elements</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="ui-elements-typography">
                                    Typography
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-icons">
                                    Icons
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-tabs">
                                    Tabs
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-panels">
                                    Panels
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-widgets">
                                    Widgets
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-portlets">
                                    Portlets
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-buttons">
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-alerts">
                                    Alerts
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-notifications">
                                    Notifications
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-modals">
                                    Modals
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-lightbox">
                                    Lightbox
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-progressbars">
                                    Progress Bars
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-sliders">
                                    Sliders
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-carousels">
                                    Carousels
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-accordions">
                                    Accordions
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-nestable">
                                    Nestable
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-tree-view">
                                    Tree View
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-grid-system">
                                    Grid System
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-charts">
                                    Charts
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-animations">
                                    Animations
                                </a>
                            </li>
                            <li>
                                <a href="ui-elements-extra">
                                    Extra
                                </a>
                            </li>
                        </ul>
                    </li> --}}
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>My Account</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="/account">
                                    My Profile
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-list-alt" aria-hidden="false"></i>
                            <span>Forms</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="/product-form">
                                    Add Product
                                </a>
                            </li>
                            <li>
                                <a href="/brand-form">
                                    Add Brand
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span>Tables</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="/products">
                                    Product Table
                                </a>
                            </li>
   
                            <li>
                                <a href="/users">
                                    User Table
                                </a>
                            </li>
                             <li>
                                <a href="/brands">
                                    Brand Table
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{!-- <li class="nav-parent">
                        <a>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>Maps</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="maps-google-maps">
                                    Basic
                                </a>
                            </li>
                            <li>
                                <a href="maps-google-maps-builder">
                                    Map Builder
                                </a>
                            </li>
                            <li>
                                <a href="maps-vector">
                                    Vector
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            <span>Layouts</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="layouts-default">
                                    Default
                                </a>
                            </li>
                            <li>
                                <a href="layouts-boxed">
                                    Boxed
                                </a>
                            </li>
                            <li>
                                <a href="layouts-menu-collapsed">
                                    Menu Collapsed
                                </a>
                            </li>
                            <li>
                                <a href="layouts-scroll">
                                    Scroll
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>Menu Levels</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a>First Level</a>
                            </li>
                            <li class="nav-parent">
                                <a>Second Level</a>
                                <ul class="nav nav-children">
                                    <li class="nav-parent">
                                        <a>Third Level</a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a>Third Level Link #1</a>
                                            </li>
                                            <li>
                                                <a>Third Level Link #2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Second Level Link #1</a>
                                    </li>
                                    <li>
                                        <a>Second Level Link #2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://themeforest.net/item/JSOFT-responsive-html5-template/4106987?ref=JSOFT"
                            target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            <span>Front-End <em class="not-included">(Not Included)</em></span>
                        </a>
                    </li> --}}
                </ul>
            </nav>

            <hr class="separator" />

            <div class="sidebar-widget widget-tasks">
                <div class="widget-header">
                    <h6>Projects</h6>
                    <div class="widget-toggle">+</div>
                </div>
                <div class="widget-content">
                    <ul class="list-unstyled m-none">
                        <li><a href="#">JSOFT HTML5 Template</a></li>
                        <li><a href="#">Tucson Template</a></li>
                        <li><a href="#">JSOFT Admin</a></li>
                    </ul>
                </div>
            </div>

            <hr class="separator" />

            <div class="sidebar-widget widget-stats">
                <div class="widget-header">
                    <h6>Company Stats</h6>
                    <div class="widget-toggle">+</div>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>
                            <span class="stats-title">Stat 1</span>
                            <span class="stats-complete">85%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number"
                                    role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 85%;">
                                    <span class="sr-only">85% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="stats-title">Stat 2</span>
                            <span class="stats-complete">70%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number"
                                    role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="stats-title">Stat 3</span>
                            <span class="stats-complete">2%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number"
                                    role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 2%;">
                                    <span class="sr-only">2% Complete</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</aside>
<!-- end: sidebar -->