<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <section class="body">
    {{> _header}}

    <div class="inner-wrapper">
    {{> sidebar-left}}
    {{{body}}}
    </div>
    {{> sidebar-right}}
    {{!-- {{> _footer}} --}}
    </section>
    {{> script}}
</body>

</html>